/* 
    Document   : common
    Created on : 05/05/2013, 12:52:55 AM
    Author     : Dinesh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    hight:50
}

